<script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>

<script>
    //See https://github.com/sampotts/plyr for more informations about customization

    const controls = 
    [
     "play",
     "rewind",
     'progress',
     "fast-forward",
     'current-time',
     'mute',
     'volume',
     'settings',
     'airplay',
    ];

    const players = Array.from(document.querySelectorAll(".player"));
        players.map(player => new Plyr(player, {
        controls,
        invertTime: true,
        toggleInvert: true,
        settings: ['quality', 'speed'],
        //Italian translation, used in my website. Delete this to use English or translate the player to your language.
        // Remove the /* and */ to use translation.
        
        i18n: {
            restart: 'reiniciar',
            rewind: 'Voltar {seektime} segundo',
            play: 'Play',
            pause: 'Pause',
            fastForward: 'Avançar {seektime} segundo',
            seek: 'Cerca',
            played: 'Reproduzido',
            buffered: 'Buffered',
            currentTime: 'Tempo corrente',
            duration: 'Duração',
            volume: 'Volume',
            mute: 'Mute',
            unmute: 'Unmute',
            enterFullscreen: 'Full screen',
            exitFullscreen: 'Exit full scree',
            frameTitle: 'Player por {title}',
            settings: 'Configurações',
            speed: 'Velocidade',
            normal: 'Normal',
            quality: 'Qualidade',
            loop: 'Loop',
            start: 'Começo',
            end: 'Fim',
            all: 'Tudo',
            reset: 'Reset',
            disabled: 'Desabilitar',
        }
    }));
</script>