<!-- These are shownotes which appear in every post/episode you publish -->

<h3>
    Notas do episódio
</h3> 
<h3>
    Elenco
</h3>  
<h2>
CTO
</h2>
<p>
<a target="_blank" href="https://linktr.ee/cassiodeveloper">Cássio B. Pereira</a>.
</p>
<h2>
Sales Engineer
</h2>
<p>
<a target="_blank" href="https://www.linkedin.com/in/marcosvssantos/">Marcos Santos</a>.
</p>
<h2>
Application Security Manager
</h2>
<p>
<a target="_blank" href="https://www.linkedin.com/in/rodrigo-balbino/">Rodrigo Balbino</a>.
</p>
<br>
<h3>
    Apoio:
</h3> 
<h2>
Nova8 Cyber Security
</h2>
<p>
<a target="_blank" href="https://nova8.com.br">Nova8</a>.
</p>
<h2>
Checkmarx
</h2>
<p>
<a target="_blank" href="https://checkmarx.com">Checkmarx</a>
</p>
<h2>
Contabilidade Olímpia
</h2>
<p>
<a target="_blank" href="https://www.contabilidadeolimpia.com.br">Checkmarx</a>
</p>
<h3>
    Créditos:
</h3> 
<h2>
Apresentação e pós produção
</h2>
<p>
Cássio B. Pereira <a target="_blank" href="https://linktr.ee/cassiodeveloper">links</a>.
</p>
<h2>
Trilha sonora
</h2>
<p>
Motel Rock - Hanu Dixit <a target="_blank" href="https://www.youtube.com/watch?v=0pVr0P3wSBU">link</a>
</p>