<!-- These are shownotes which appear in every post/episode you publish -->

<h3>
    Notas do episódio
</h3> 
<h4>
    Elenco
</h4>  
<p>
Head of Application Security
Cássio B. Pereira <a href="https://linktr.ee/cassiodeveloper">links</a>.
</p>
<p>
Sales Engineer
Marcos Santos <a href="https://linktr.ee/cassiodeveloper">links</a>.
</p>
<p>
Application Security Engineer
Rodrigo Balbino <a href="https://linktr.ee/cassiodeveloper">links</a>.
</p>
<br>
<h4>
    Créditos:
</h4> 
<p>
Apresentação e pós produção
Cássio B. Pereira <a href="https://linktr.ee/cassiodeveloper">links</a>.
</p>
<p>
Trilha sonora
Motel Rock - Hanu Dixit
</p>