<!-- These are shownotes which appear in every post/episode you publish -->

<h2>
    Créditos do Podcast
</h2> 
{% if include.extralink %}
<h3>
    Links
</h3>
<p>
    <a target="_blank" href="{{include.extralinks}}">{{include.extralink}}</a>
</p>
{% endif %}
<h3>
    Elenco
</h3>  
<p>
CTO - <a target="_blank" href="https://linktr.ee/cassiodeveloper">Cássio B. Pereira</a>.
</p>
<p>
    Application Security Leader - <a target="_blank" href="https://www.linkedin.com/in/benhurott/">Ben-Hur Santos Ott</a>.
</p>
<p>
Sales Engineer - <a target="_blank" href="https://www.linkedin.com/in/marcosvssantos/">Marcos Santos</a>.
</p>
<br>
<h3>
Apoio:
</h3> 
<p>
Gold Application Security - <a target="_blank" href="https://goldappsec.com.br">Gold Application Security</a>.
</p>
<p>
Nova8 Cyber Security - <a target="_blank" href="https://nova8.com.br">Nova8</a>.
</p>
<p>
Digitalwolk - <a target="_blank" href="https://digitalwolk.com">Digital Wolk</a>.
</p>
<p>
Checkmarx - <a target="_blank" href="https://checkmarx.com">Checkmarx</a>
</p>
<h3>
Conteúdo:
</h3> 
<p>
Idealização - Cássio B. Pereira <a target="_blank" href="https://linktr.ee/cassiodeveloper">links</a>.
</p>
<p>
Trilha sonora - Motel Rock - Hanu Dixit <a target="_blank" href="https://www.youtube.com/watch?v=0pVr0P3wSBU">link</a>
</p>